// _align.scss

@mixin ga-align($align, $scope: grid) {

	// valid align options
	$align-options: (
		start: flex-start,
		center: center,
		end: flex-end,
		baseline: baseline,
		stretch: stretch
	);

	// valid scope options
	$scope-options: (
		grid: items,
		cell: self
	);

	// get values
	$align-value: map-get($align-options, $align);
	$scope-value: map-get($scope-options, $scope);

	// validate align
	@if not $align-value {
		@error "Invalid align option '#{$align}'.";
	}

	// validate scope
	@if not $scope-value {
		@error "Invalid scope option '#{$scope}'.";
	}

	// set value
	align-#{$scope-value}: $align-value;
}
