// _distribute.scss

@mixin ga-distribute($distribute) {

	// valid distribute options
	$distribute-options: (
		start: flex-start,
		center: center,
		end: flex-end,
		stretch: stretch,
		around: space-around,
		between: space-between
	);

	// get value
	$distribute-value: map-get($distribute-options, $distribute);

	// validate distribute
	@if not $distribute-value {
		@error "Invalid distribute option '#{$distribute}'.";
	}

	// set declaration
	align-content: $distribute-value;
}
