// _gutter.scss

@mixin ga-gutter($name, $gutters: $ga-gutters) {
	$gutter: map-get($gutters, $name);

	@if not $gutter {
		@error "Invalid gutter gutter '#{$name}'.";
	}

	margin-left: (- $gutter);
	margin-right: (- $gutter);

	> * {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}
