// _justify.scss

@mixin ga-justify($justify) {

	// valid justify options
	$justify-options: (
		start: flex-start,
		center: center,
		end: flex-end,
		around: space-around,
		between: space-between
	);

	// get value
	$justify-value: map-get($justify-options, $justify);

	// validate justify
	@if not $justify-value {
		@error "Invalid justify option '#{$justify}'.";
	}

	// set declaration
	justify-content: $justify-value;
}
