// _offset.scss

@mixin ga-offset($offset) {
	@if $offset < 0 {
		margin-right: percentage(abs($offset) / $ga-columns);
	} @else if $offset > 0 {
		margin-left: percentage(abs($offset) / $ga-columns);
	} @else {
		margin-left: 0;
	}
}
