// _orientate.scss

@mixin ga-orientate($direction, $order: normal) {

	// valid direction options
	$direction-options: (
		horizontal: row,
		vertical: column
	);

	// valid order options
	$order-options: (
		normal: '',
		reverse: -reverse
	);

	// get values
	$direction-value: map-get($direction-options, $direction);
	$order-value: map-get($order-options, $order);

	// validate direction
	@if not $direction-value {
		@error "Invalid direction option '#{$direction}'.";
	}

	// validate order
	@if not $order-value {
		@error "Invalid order option '#{$order}'.";
	}

	// set declaration
	flex-direction: $direction-value + $order-value;
}
