// _position.scss

@mixin ga-position($position, $columns: $ga-columns) {

	// initial value
	$position-value: null;

	// valid position options
	$position-options: (
		start: -1,
		end: $columns + 1
	);

	// get value
	@if type-of($position) == 'string' {
		$position-value: map-get($position-options, $position);
	} @else {
		$position-value: $position;
	}

	// validate position
	@if not $position-value or type-of($position-value) != 'number' {
		@error "Invalid position option '#{$position}'.";
	}

	// set declaration
	order: $position-value;
}
