// gridable-legacy.scss

@import 'common/variables';

// Base
[#{$gridable-prefix}-grid] {
	clear: both;
	overflow: hidden;

	> [#{$gridable-prefix}-cell] {
		float: left;
		width: 100%;
	}
}

// Auto-width Cells
@for $columns from 1 through $gridable-columns {
	[#{$gridable-prefix}-grid] {
		> [#{$gridable-prefix}-cell]:nth-last-child(n+#{$columns}):first-child,
		> [#{$gridable-prefix}-cell]:nth-last-child(n+#{$columns}):first-child ~ [#{$gridable-prefix}-cell] {
			max-width: percentage(1 / $columns);
		}
	}
}
