// gridable-legacy.scss

@import 'common/variables';

// Base
[grid-grid] {
	clear: both;
	overflow: hidden;

	> [grid-cell] {
		float: left;
		width: 100%;
	}
}

// Auto-width Cells
@for $columns from 1 through $gridable-columns {
	[grid-grid] {
		> [grid-cell]:nth-last-child(n+#{$columns}):first-child,
		> [grid-cell]:nth-last-child(n+#{$columns}):first-child ~ [grid-cell] {
			max-width: percentage(1 / $columns);
		}
	}
}
