// _variables.scss

$ga-prefix: ga !default;
$ga-columns: 12 !default;
$ga-gutter: normal !default;
$ga-gutters: (
	none: 0,
	normal: 10px,
	wide: 25px,
	narrow: 5px
) !default;
$ga-mediaquery: true !default;
$ga-breakpoints: (
	tiny: 400px,
	small: 800px,
	medium: 1200px,
	large: 1600px,
	huge: 2000px
) !default;
