// _variables.scss

$ga-prefix: ga !default;
$ga-columns: 12 !default;
$ga-gutter: normal !default;
$ga-gutters: (
	none: 0,
	normal: 1rem,
	wide: 2rem,
	narrow: .5rem
) !default;
$ga-mediaquery: true !default;
$ga-breakpoints: (
	tiny: 25rem,
	small: 50rem,
	medium: 75rem,
	large: 100rem,
	huge: 125rem
) !default;
